.cu {
    &__navbar {
        padding-top: 40px;
    }

    &__nav {
        justify-content:end;
        width: 100%;
        padding-right: 20px;
        

        @media screen and (max-width: 991px) {
            // 1400px
            width: 100%;
            margin-top: 1rem;
            background-color: #fff;
            padding: 0 40px 16px 40px;
            border-radius: 4px;
        }
    }

    &__navHover::before {
        content: '';
        display: block;
        position: relative;
        width: 0;
        top: 1.8em;
        border-bottom: 1px solid $primary;
        transition: width 0.4s;
    }

    &__navHover:hover::before {
        width: 100%;
    }

    &__navBottom {
        @include lg {
            margin-top: 1rem;
        }
    }

    &__logo {
        height: 60px;
        @media screen and (max-width:1200px) {
            height: 40px;
        }
    }

}


.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 20ms linear;
  }



// 調整 bs 本身 class
.nav-link {
    letter-spacing: 2px;

    @media screen and (max-width: 991px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}


.navbar-light .navbar-nav .nav-link {
    color: $gray-900;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;

    @media screen and (max-width:1550px) {
        padding-left: 10px;
        padding-right: 10px;
    }

   

    @media screen and (max-width:1200px) {
       
        padding-left: 8px;
        padding-right: 8px;
    }
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: $primary;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: $primary;
}


@media (min-width: 1400px){
    .navbar-expand-xxl .navbar-nav .dropdown-menu {
        width: 100%;
    }
}


.dropdown-item {
    padding: 0.6rem 1.5rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: $gray-100;
    background-color: $primary;
}


.navbar-light .navbar-toggler {
    color: $primary;
    border-color: $primary;
    padding: 8px;

    @media screen and (max-width:576px) {
        padding: 4px;
    }
}

.navbar-toggler {
    @include sm {
        padding: .1rem;
        font-size: 1rem;
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../images/icon/hambuger.svg');
  }

  .navbar-toggler-icon {
    width: 24px;
    height: 24px;
  }