* {
    font-family: 'Noto Sans TC', sans-serif;
    
}

body {
    background-color: $gray02;
}

*, ::after, ::before {
    box-sizing: border-box;
}

// 自訂 container
.cu__container {
    max-width: 1440px;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1440px) {
    .cu__container {
        max-width: 1280px;
    }
}

@media (max-width: 1368px) {
    .cu__container {
        max-width: 1152px;
    }
}

@media (max-width: 1199px){
    .cu__container {
        max-width: 1024px;
    }
}

@media (max-width: 992px){
    .cu__container {
        max-width: 960px;
    } 
}

@media (max-width: 768px){
    .cu__container {
        max-width: 720px;
    } 
}

@media (max-width: 576px){
   .cu__container {
        max-width: 540px;
    } 
}


.alert {
    padding: .5rem .5rem;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    z-index: 2;
    padding: 0;
}

// table
.table > :not(caption) > * > * {
    padding: 1rem 1rem;
}

th {
    font-weight: 400;
    letter-spacing: 1px;
}

sup {
    font-size: 4px;
}

// message

.message {
    border-radius: 4px;
    padding: 0;
    display: none;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.message table {
    width: 100%;
}
.message table .message_text {
    font-size: 15px;
    padding: 10px;
    position: relative;
    color: #842029;
}

.message_text p {
    margin-bottom: 0;
}

// icon 

.art_icon.r {
    right: 16px;
}

td.position-relative .art_icon.r {
    right: 32px;
}


.art_icon.icon-eye-close {
    background-image: url(../images/icon/icon_eye_close.svg);
}

.art_icon.icon-eye-close:hover {
    background-image: url(../images/icon/icon_eye_close_hover.svg);
    
}

.art_icon.icon-eye-open{
	background-image: url(../images/icon/icon_eye_open.svg);
}

.art_icon.icon-eye-open:hover{
	background-image: url(../images/icon/icon_eye_open_hover.svg);
}

.art_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-style: inherit;
}

.art_icon.r {
    right: 16px;
}

.art_textarea {
    height: 180px;
}