* {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    background-color: $gray02;
}

*,
::after,
::before {
    box-sizing: border-box;
}

i {
    font-style: normal
}

ul li {
    list-style: none;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


// 自訂 container
.cu__container {
    max-width: 1440px;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1440px) {
    .cu__container {
        max-width: 1280px;
    }
}

@media (max-width: 1368px) {
    .cu__container {
        max-width: 1152px;
    }
}

@media (max-width: 1199px) {
    .cu__container {
        max-width: 1024px;
    }
}

@media (max-width: 992px) {
    .cu__container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .cu__container {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .cu__container {
        max-width: 540px;
    }
}

// 頁面背景(長頁面)
.page {
    &__bg01 {
        background-image: url('../images/desktop-w-1440.png');
        background-size: contain;
        background-position: right top;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }

    @include md {
        &__bg01 {
            background-image: url('../images/pad-744.png');
        }
    }

    @include sm {
        &__bg01 {
            background-image: url('../images/desktop-w-1440.png');
        }
    }
}


// 頁面背景(短頁面)
.page {
    &__bg02 {
        background-image: url('../images/desktop-w-1440.png');
        background-size: cover;
        background-position: right top;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }

    @include md {
        &__bg02 {
            background-image: url('../images/pad-744.png');
        }
    }

    @include sm {
        &__bg02 {
            background-image: url('../images/phone-428.png');
        }
    }
}

.alert {
    padding: .5rem .5rem;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    z-index: 2;
    padding: 0;
}

// table
.table> :not(caption)>*>* {
    padding: 1rem 1rem;
}

th {
    font-weight: 400;
    letter-spacing: 1px;
}

sup {
    font-size: 4px;
}

// message


.message {
    border-radius: 4px;
    padding: 0;
    display: none;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.message table {
    width: 100%;
}

.message table .message_text {
    font-size: 15px;
    padding: 10px;
    position: relative;
    color: #842029;
}

.message_text p {
    margin-bottom: 0;
}

//成功訊息
.message_print_ok {
    margin: 10px 10px 10px 10px;
    padding: 0.5rem 16px 0.5rem 0.5rem;
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    border: 1px solid transparent;
    border-radius: 0.25rem;

}

.message_print_ok table {
    width: 100%;

}

.message_print_ok table .message_text {
    font-size: 16px;
    padding: 10px;
    color: #0f5132;
    position: relative;
}
.message_print_ok table .message_close {
    padding: 0;
    width: 26px;
    text-align: center;
}
/* 訊息 結束 */

// icon 

.art_icon.r {
    right: 16px;
}

td.position-relative .art_icon.r {
    right: 32px;
}


.art_icon.icon-eye-close {
    background-image: url(../images/icon/icon_eye_close.svg);
}

.art_icon.icon-eye-close:hover {
    background-image: url(../images/icon/icon_eye_close_hover.svg);

}

.art_icon.icon-eye-open {
    background-image: url(../images/icon/icon_eye_open.svg);
}

.art_icon.icon-eye-open:hover {
    background-image: url(../images/icon/icon_eye_open_hover.svg);
}

.art_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-style: inherit;
}

.art_icon.r {
    right: 16px;
}

.art_textarea {
    height: 180px;
}

//  確認視窗

.art_confirm .overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.art_confirm .main {
    background: #fff;
    width: 90%;
    max-width: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3rem;
}

.art_confirm .main .top {
    padding: 1rem 1rem;
    font-size: 1.25rem;
    border-bottom: 1px solid #dee2e6;
    letter-spacing: 2px;
}

.art_confirm .main .msg {
    padding: 1rem;
}

.art_confirm .main .bottom {
    padding: 20px 10px;
    text-align: center;
}

// .art_confirm .main .bottom .btn_yes, 
// .art_confirm .main .bottom .btn_no {
//     margin: 0 10px;
//     padding: 5px 10px;
//     border: 1px solid #333;
//     color: #333;
//     background: #fff;
// }


/* 成功通知橫幅 開始 */
.art_notistack {
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    max-width: 550px;
    margin: 0 auto;
    z-index: 50000;
}

/* 通知橫幅 結束 */


.oldfile_box.none {
    display: none;
}

ol.number_ol li {
    list-style-type: decimal;
}

// tab 的 fade 效果刪除
.fade:not(.show) {
    opacity: 1;
}