* {
    font-family: 'Noto Sans TC', sans-serif;
    
}

body {
    background-color: $gray02;
}

*, ::after, ::before {
    box-sizing: border-box;
}

// 自訂 container
.cu__container {
    max-width: 1512px;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1512px) {
    .cu__container {
        max-width: 1500px;
    }
}

@media (max-width: 1400px) {
    .cu__container {
        max-width: 1320px;
    }
}

@media (max-width: 1200px){
    .cu__container {
        max-width: 1140px;
    }
}

@media (max-width: 992px){
    .cu__container {
        max-width: 960px;
    } 
}

@media (max-width: 768px){
    .cu__container {
        max-width: 720px;
    } 
}

@media (max-width: 576px){
   .cu__container {
        max-width: 540px;
    } 
}
