@import "../utilities/mixin";

.home {
    &__bg01 {
        background-image: url('../images/desktop-1440.png');
        background-size: auto;
        background-position: right top ;    
        background-repeat: no-repeat;
    }

    @include md {
        &__bg01 {
            background-image: url('../images/pad-744.png');
           
        }
    }

    @include sm {
        &__bg01 {
            background-image: url('../images/phone-428.png');
           
        }
    }
}

// header
.header {
    &__line {
        width: 97%;
        height: 50%;
        border-left: 1px solid $primary;
        border-bottom: 1px solid $primary;
        top: 65%;
        right: 24px;

        &::before {
            content: "";
            display: block;
            width: 10px;
            height: 42px;
            position: absolute;
            top: 32px;
            left: -4px;
            background-color: $primary;
        }
    }

    &__block {
        width: 97%;
        height: 46%;
        right: 24px;
        top: 65%;
        background: linear-gradient(270deg, #FFFFFF 30.4%, rgba(255, 255, 255, 0) 100.16%);
        border-radius: 4px;
    }

    @media screen and (max-width:992px) {
        &__line,&__block {
            top: 70%;
        }
        &__line {
            left: 8px;
        }
    }

    &__title {
        margin-top: 120px;
        font-weight: 400;
        line-height: 180%;
        margin-left: 24px;
        letter-spacing: 4px;
        font-size: 2.3rem;
        @media screen and (max-width: 1399px) {
            // 1400px
            margin-top: 60px;
            font-size: 1.8rem;
        }
    }

    &__text {
        font-weight: 400;
        line-height: 180%;
        font-size: 24px;
        letter-spacing: 4px;
        @include xxl {
            font-size: 20px;
        }
    }

    // 標題區塊響應式調整
    @media screen and (max-width:1160px) {
        &__title {
            font-size: 1.5rem;
        }
        &__text {
            font-size: 18px;
        }

    }

    @media screen and (max-width:991px) {
        &__title {
            font-size: 2rem;
            margin-top: 40px;
        }
        &__text {
            font-size: 24px;
            line-height: 80%;
        }

    }

    @media screen and (max-width:768px) {
        &__title {
            font-size: 22px;
            margin-top: 20px;
        }
        &__text {
            font-size: 16px;
            line-height: 80%;
        }
    }

    @media screen and (max-width:576px) {
        &__title {
            font-size: 28px;
            margin-top: 20px;
        }
        &__text {
            font-size: 18px;
            line-height: 80%;
        }
    }

    @media screen and (max-width:400px) {
        &__title {
            font-size: 20px;
            margin-top: 20px;
        }
        &__text {
            font-size: 14px;
            line-height: 80%;
        }
    }

    &__area {
        z-index: 1000;
    }

    &__link {
        text-decoration: none;
        margin-top: 120px;
        display: block;
        @media screen and (max-width: 1399px) {
            // 1400px
            margin-top: 60px;
        }

        @media screen and (max-width:768px) {
            margin-top: 24px;
        }
    }

    &__book {
        width: 100%;
        margin-left: 8%;
        border: 3px solid $primary;
        background-color: #fff;
        max-height:400px;
    }

    &__contribute {
        top: -5px;
        display: block;
        width: 120%;
        background: $primary;
        height: 65px;
        line-height: 65px;
        text-align: center;
        font-weight: 300;
        letter-spacing: 4px;
        font-size: 18px;
        border-radius: 4px 4px 4px 4px;
        transition: all .3s;

        &::after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: -28px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 30px 0 0 46px;
            border-color: transparent transparent transparent #84010e;
            line-height: 0px;
            z-index: -10;
            _border-color: #000000 #000000 #000000 #84010e;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }
    }

    @media screen and (max-width:768px) {
        &__contribute {
            height: 48px;
            line-height: 48px;
            font-size: 16px;
        }
    }

    @media screen and (max-width:400px) {
        &__contribute {
            font-size: 12px;
            height: 40px;
            line-height: 40px;
            letter-spacing: 1px;
        }
    }


    &__arrow {
        display: block;
        width: 32px;
        height: 32px;
        border: 1px solid #fff;
        border-radius: 50px;
        right: -8px;
        bottom: 20px;
        color:#FFFFFF;
        animation: arrow 1s linear infinite;
        animation-timing-function : ease-out;

        &::after {
            content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 7 12" fill="none"><path d="M1 1L6 6L1 11" stroke="white"/></svg>');
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
        }
    } 
    
    @media screen and (max-width:768px) {
        &__arrow {
            width: 24px;
            height: 24px; 
            bottom: 15px; 
        }
    }

    @media screen and (max-width:576px) {
        &__arrow {
            width: 14px;
            height: 14px; 
            bottom: 18px; 

            &::after {
                transform: translate(-50%, -50%) scale(.5);
            }
        }
        
        
    }
}

@keyframes arrow {
    0% {
      transform: translateX(0);
    }
    
    100% {
      transform: translateX(30%);
    }
}


// 最新消息
.news {
    background-image: url(../images/news-1440.png);
    background-size: auto;
    background-position: -6px 14%;
    background-repeat: no-repeat;
    padding-top: 300px;

    @include lg {
        padding-top: 200px;
        // background-position: -4% 35%;  
    }

    @include md {
        padding-top: 150px;
        background-position: -10px 10%;
        background-image: url(../images/news-744.png);
    }

    @include sm {
        padding-top: 140px;
        background-position: -6px 10%;
        background-image: url(../images/news-428.png);
    }

    &__title {
        letter-spacing: 12px;
        text-align: center;
        font-weight: 400;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 20px 0;
        position: relative;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
        }

        &::before {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: -webkit-transform .5s ease-out;
            transition: -webkit-transform .5s ease-out;
            transition: transform .5s ease-out;
            transition: transform .5s ease-out, -webkit-transform .5s ease-out;
            background-color: $primary;
            border-radius: 25px;
            -webkit-transform-origin: right center;
            transform-origin: right center;
        }

        &::after {
            background-image: url(../images/border-dot.svg);
            // background-repeat-y: no-repeat;
            background-size: 9px;
            background-repeat: no-repeat;
            background-repeat: repeat-x;
        }

        &:hover::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }

    }


    &__date {
        font-size: 14px;
        color: $primary;
        letter-spacing: 2px;
        margin-bottom: 0;

        span {
            font-size: 20px;
            font-weight: bold;
            padding-top: 4px;
            display: inline-block;
            letter-spacing: 0;
        }

        @include sm {
            letter-spacing: 0;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        word-break: break-word;
        // height: 60px;
        margin-bottom: 0;
        text-align-last: left;
        width: 100%;

        // 溢出文字
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__link {
        text-decoration: none;
        font-size: 20px;
    }

    &__arrow {
        width: 30px;
        height: 30px;
        border: 1px solid $primary;
        border-radius: 50%;
        color:$primary;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-right: 8px;

        &::before {
            content: url('../images/icon/news_arrow.png');
            display: block;
            position: absolute;
            left: 53%;
            top: 53%;
            transform: translate(-50%, -50%) scale(.4);

            @include sm {
                transform: translate(-50%, -50%) scale(.2);
            }
        }
        

        &:hover {
            background-color: $primary;
            &::before {
                content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 7 12" fill="none"><path d="M1 1L6 6L1 11" stroke="white"/></svg>');
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    } 

    &__button {
        letter-spacing: 2px;
        padding: 8px 16px;
    }

   
    
    @media screen and (max-width:768px) {
        &__arrow {
            width: 24px;
            height: 24px; 
        }
    }

    @media screen and (max-width:576px) {
        &__arrow {
            width: 14px;
            height: 14px; 

            &::after {
                transform: translate(-52%, -52%) scale(.5);
            }
        }
    }

    // &__paper {
    //     max-height: 350px;
    // }

}
  

li.news__item:first-child {
    padding-top: 0;
}

// loading 畫面
.loading_box{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(255,255,255,0.5) url(../images/loading.gif) 50% 50% no-repeat;
	z-index: 600000;
}