.login {
    &__bg01 {
        background-image: url(../images/login-bg03.png);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
}

.login .logo__text {
    margin-top: inherit; 
    margin-bottom: 0; 
    font-weight: 0; 
    line-height:0;
}
// Logo 圖片取代文字
.login .logo__text a {
    background-image: url(../../storage/images/logo.svg);
    
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

}
