.rule {
    position: relative;

    &__nav {
        transition: all 0.4s;
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
    }

    &__pdf {
        overflow-y: scroll;
        height: 800px;
    }

    &__box {
        position:relative;
    }
}

.pdf__box {
    margin-left: 210px;
}

.bi-caret-left-fill {
    display: none;
}

@media(max-width:768px) {
    .rule__nav {
        left: -170px;
    }
    .pdf__box {
        margin-left: 0;
    }
    .box.open section:nth-child(1){
        left:0;

    }

    .box.open .bi-caret-left-fill {
        display: inline-block;
    }

    .box.open .bi-caret-right-fill {
        display: none;
    }
}

.sub_nav_btn {
    position: absolute;
    top: 8px;
    right: -40px;
    display: none;
    line-height: 20px;
}

@media(max-width:768px) {
    .sub_nav_btn {
        display: block;
    }
}

.list-group-item a {
    text-decoration: none;
}

.list-group-item.active a {
    color: #fff;
}

.box {
    position: relative;
}

